.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 25px;
}

.header-logo img{
    width: 170px;
}

.link{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navs{
    display: flex;
    gap: 8px;
}

.navs a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #a49cb4;
}

.navs a:hover{
    color: #49405F;
    transition: all 0.5s;
}