.itens-lista {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cliente-endereco {
    width: 50%;
    padding: 25px;
}

.cliente-endereco h2{
    padding-bottom: 25px;
    font-size: 25px;
    color: #453369;
}

.endereco-cart {
    display: block;
    background-color: #dfbeff69;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.text-endereco{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-bottom: 30px;
    color: #453369;
}

.text-endereco h2{
    padding-bottom: 0;
}

.text-endereco p{
    font-size: 16px;
    color: #35265373;
}

.endereco-cart form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.cliente-endereco input{
    border: 1px solid rgb(69 51 105 / 25%);
    border-radius: 5px;
    padding: 8px;
}

input::-webkit-input-placeholder {
    color: #a0a0a0;
}

#cep, #numero{
    grid-column: span 1 / span 3;
}

#endereco{
    grid-column: span 4 / span 3;
}

#complemento{
    grid-column: span 3 / span 3;
}

#bairro{
    grid-column: span 2 / span 3;
}

.itens-produtos {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itens-produtos img {
    width: 150px;
}